form {
  position: relative;
  display: flex;
  font-size: 20px;
  height: 85%;
}

form input {
  border: 1px solid rgb(204, 204, 204);
  padding: 12px 21px;
  border-radius: 6px;
  height: 48px;
  width: 100%;
  font-size: 20px;
}

form input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0;
  display: none;
}

form .resizable-textarea {
  width: 100%;
  min-height: 120px;
  padding: 12px 21px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 6px;
  margin-bottom: 28px;
  resize: vertical;
  font-size: 20px;
}

form .resizable-textarea:focus,
input:focus,
.add-task-custom-select:focus-within {
  border-width: 1.8px;
  border-color: rgb(41, 171, 226);
  outline: none;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #0f0e0e;
  border-radius: 25%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.custom-checkbox.checked {
  border-color: white;
  background-color: rgb(42, 54, 71);
}

.custom-checkbox.checked:after {
  content: "";
  position: absolute;
  left: 8px;
  top: -6px;
  width: 4px;
  height: 18px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#selected-initials {
  margin-top: 10px;
  display: flex;
}

#initials-display {
  display: flex;
  flex-wrap: wrap;
}

.subtask-group {
  position: relative;
}

.subtask-icons {
  position: absolute;
  right: 10px;
  top: 25%;
  cursor: pointer;
}

.subtask-icons img {
  width: 24px;
}

.subtask-icons img:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.mg-left {
  margin-left: 8px;
}

.subtask-added-list {
  padding: 10px 10px 0px 16px;
  max-height: 125px;
  overflow-y: auto;
}

.subtask-list-group form input {
  border: none;
  padding: 4px 64px 4px 16px;
  font-size: 1rem;
}

.subtask-list-group:hover input {
  background-color: rgb(238, 238, 238);
}

.subtask-list-icons img:hover {
  transform: scale(1.08);
}

.subtask-list-group input {
  border: none;
  height: 30px;
  width: 100%;
  background-color: rgb(246,247,248);
}

.subtask-added-list .subtask-list-group input:focus {
  border-bottom: 2px solid rgb(41, 171, 226);
  border-radius: 0;
}

.subtask-list-icons {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

.subtask-list-icons img {
  width: 20px;
}

.bullet-point {
  margin-right: 40px;
  font-size: 1.2em;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

.subtask-list-input {
  margin-bottom: 0;
  height: 30px;
}

.subtask-input {
  margin-bottom: 0;
}

.subtask-list-group .subtask-list-icons {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.subtask-list-group:hover .subtask-list-icons {
  opacity: 1;
}

.icon-separator {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 8px;
}

.dialog-bg .subtask-list-group input {
  background-color: white;
}

.dialog-bg .subtask-list-group:hover input {
  background-color: rgb(238, 238, 238);
}

.dialog-bg h2 {
  font-size: clamp(32px, 5vw, 56px);
  margin-bottom: 16px;
}

.bullet-point-input {
  padding-left: 8px;
}

form .subtask-list-group input:hover {
  box-shadow: none;
}
