@import url('../css/assigned_dropdown_edit_task.css');
@import url('../css/searchbar.css');
@import url('../css/detail_task.css');
@import url('../css/edit_subtask_board.css');
@import url('../css/edit_priority_board_task.css');
@import url('../css/edit_task_board.css');
@import url('../css/animation_dialog.css');

main {
  padding-top: 48px;
  padding-right: 56px;
  padding-left: 56px;
  background-color: rgb(246, 247, 248);
}

main h2 {
  font-size: clamp(32px, 5vw, 56px);
  margin-bottom: 0;
  margin-right: 10px;
}

h3 {
  margin-top: 16px;
}

.gap-32px {
  gap: 32px;
  gap: 32px;
}

.add-task {
  border: unset;
  padding: 10px 15px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  font-size: 1rem;
  gap: 8px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.add-task img {
  width: 16px;
}

.section-container {
  margin-top: 40px;
  gap: calc(20px + (40 - 20) * ((100vw - 1400px) / (1920 - 1400)));
  max-width: 1350px;
  display: flex;
  height: 72vh;
}

.section-container section {
  width: 100%;
  color: rgba(66, 82, 110, 1);
  font-weight: bold;
  font-size: 1.2rem;
}

.section-container section img {
  position: absolute;
  right: 18px;
  bottom: 32px;
  width: 24px;
  cursor: pointer;
}

.column-title {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.placeholder {
  color: transparent;
  width: 24px;
  height: 24px;
}

.plus-button {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 12px;
  gap: 16px;
  height: 68vh;
  min-width: 190px;
  padding-right: 2px;
}

.drag-area-highlight {
  background-color: rgb(0, 0, 0, 0.07);
}

.no-task {
  border: 1px dashed;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
  text-align: center;
  padding: 10px 4px;
  font-size: 16px;
}

.x-task-category-container {
  position: sticky;
  background-color: white;
  top: -1px;
  padding-bottom: 16px;
  z-index: 1;
}

.x-mark {
  width: 32px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
}

.x-mark:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.configuration {
  position: sticky;
  left: 290px;
  bottom: -1px;
  margin-top: auto;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 0 0px 0;
  z-index: 2;
}

.configuration div {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 8px;
}

.configuration span {
  font-size: 14px;
}

.configuration div:hover span {
  color: rgb(41, 171, 226);
  transform: scale(1.04);
}

.configuration img {
  width: 24px;
  margin-right: 8px;
}

.btn-hover:hover {
  background-color: rgb(41, 171, 226);
  color: white;
}

.mg-b-16px {
  margin-bottom: 16px;
}

.plus-button {
  width: 24px;
  height: 24px;
  background-image: url('../assets/icons/board/plus-btn.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: unset;
  cursor: pointer;
  transition: background-image 200ms ease;
}

.plus-button:hover {
  background-image: url('../assets/icons/board/plus-btn-hover.svg');
}

.configuration div:hover img {
  filter: invert(40%) sepia(60%) saturate(400%) hue-rotate(170deg);
}

.separator {
  border-left: 1px solid rgb(0, 0, 0, 0.2);
}

.pop-up-add-Task {
  position: fixed;
  width: 84%;
  max-width: 1200px;
  height: 84%;
  max-height: 850px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  overflow: auto;
}

.bg-hover {
  transition: background-color 125ms;
}

.bg-hover:hover {
  background-color: rgba(204, 204, 204, 0.3);
  cursor: pointer;
}

.contact-select-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.contact-select-wrapper:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.contact-label {
  display: inline-block;
}

.checkbox-image {
  width: 20px;
  height: 20px;
  background-image: url('../assets/icons/board/checkbox_unchecked.svg');
  background-size: cover;
  display: inline-block;
  transition: background-image 150ms ease;
}

.contact-select-container input[type='checkbox'] {
  display: none;
}

/* input[type='checkbox']:checked + .checkbox-image {
  background-image: url('../assets/icons/board/checkbox_checked.svg');
} */

input:focus {
  outline: none;
  border: 1.8px solid rgba(41, 171, 226, 1);
}

.contact-select-container .selected-contact {
  background-color: rgb(42, 54, 71);
  color: white;
}

.mg-b-200 {
  margin-bottom: 200px;
}

.initial-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 12px;
}

.contact-name {
  margin-left: 8px;
}

.initials-container {
  height: auto;
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.initial-board-wrapper .margin {
  margin-left: 0;
  margin-right: 5px;
}

.addtask-btn-board::before {
  content: attr(value);
}

.error-msg-edit-template {
  margin-top: 4px;
  color: red;
  font-size: 0.8rem;
}

.members-wrapper {
  position: absolute;
  bottom: 30px; 
}

@media screen and (max-width: 1224px) {
  .section-container {
    flex-direction: column;
    height: auto;
  }

  .content {
    flex-direction: row;
    height: auto;
    padding-bottom: 10px;
    min-height: 200px;
  }

  .dialog-bg {
    padding-left: 0px;
  }

  main {
    padding-left: 32px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  main {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 720px) {
  main {
    padding-right: 16px;
    padding-left: 16px;
  }

  .board-header {
    align-items: flex-start;
  }

  .section-container {
    margin-top: 20px;
  }

  .plus-button {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding-right: 16px;
    padding-left: 16px;
  }

  .content {
    scrollbar-color: rgb(41, 171, 226) transparent;
  }

  .addtask-btn-board::before {
    content: '';
  }

  .add-task {
    padding: 9px 10px 10px 2px;
  }

  .addtask-btn-board {
    visibility: visible;
  }
}
