
.subtask-group {
  position: relative;
  margin-top: 6px;
}

.checkbox-img {
  display: inline-block;
  background-image: url('../assets/icons/board/checkbox-unchecked.svg');
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
  margin-left: 14px;
}

.subtask-icons {
  position: absolute;
  right: 10px;
  top: 25%;
  cursor: pointer;
}

.subtask-icons img {
  width: 24px;
}

.subtask-icons img:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.mg-left {
  margin-left: 8px;
}

.subtask-added-list {
  padding: 10px 10px 0px 10px;
}

.subtask-list-group:hover input {
  background-color: rgba(0, 0, 0, 0.1);
}

.subtask-list-group input {
  border: none;
  padding: 4px 64px 4px 16px;
  font-size: 1rem;
  transition: background-color 125ms;
}

.subtask-list-icons img:hover {
  transform: scale(1.08);
}

.subtask-list-group input:focus {
  border: 2px solid rgb(246,247,248);
}

.subtask-list-icons {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.subtask-list-icons img {
  width: 20px;
}

.subtask-list-group input:focus {
  border-bottom: 2px solid rgb(41, 171, 226);
}

.bullet-point {
  margin-right: 40px;
  font-size: 1.2em;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}


.subtask-container {
  margin-top: 16px;
}

.subtask-list {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
}

.bullet-point-edit {
  font-size: 18px;
  line-height: 30px;
  height: 30px;
}

.subtask-added-list .edit-subtask-input {
  padding: 10px 64px 10px 8px;
}

.bullet-point-input {
  padding: 0 0 0px 12px;
  border-radius: 10px;
}

.dialog-bg .subtask-list-group input:focus {
  border:none;
  }
