<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Wenn eine Datei oder ein Verzeichnis existiert, rufe sie auf
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Ansonsten leite auf index.html um
  RewriteRule ^.*$ /index.html [L]
</IfModule>
